
@{
    ViewBag.Title = "Index";
    ViewBag.active = "Product/Index";
}

<div class="page_bg" style="background: url(/content/images/1546593194.jpg) center top no-repeat;"></div>
<div class="bread_bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="bread_nav">
                    <span>您的位置：</span><a href="../../index.htm">首 页</a> &gt;
                    <a href="index.htm">工程案例</a>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">

            <div class="right_head">
                <h2><span>工程案例</span></h2>
            </div>
            <div class="product_list product_list2">

                <div class="col-sm-4 col-md-4 col-mm-6 product_img">
                    <a href="@Url.Action("Detail",new{id=1})">
                        <img src="/images/32.jpg" class="opacity_img" alt="产品名称" />
                    </a>
                    <p class="product_title">
                        <a href="@Url.Action("Detail",new{id=1})" title="产品名称">产品名称</a>
                    </p>
                </div>

                <div class="col-sm-4 col-md-4 col-mm-6 product_img">
                    <a href="@Url.Action("Detail",new{id=1})">
                        <img src="/images/32.jpg" class="opacity_img" alt="产品名称" />
                    </a>
                    <p class="product_title">
                        <a href="@Url.Action("Detail",new{id=1})" title="产品名称">产品名称</a>
                    </p>
                </div>

                <div class="col-sm-4 col-md-4 col-mm-6 product_img">
                    <a href="@Url.Action("Detail",new{id=1})">
                        <img src="/images/32.jpg" class="opacity_img" alt="产品名称" />
                    </a>
                    <p class="product_title">
                        <a href="@Url.Action("Detail",new{id=1})" title="产品名称">产品名称</a>
                    </p>
                </div>

                <div class="col-sm-4 col-md-4 col-mm-6 product_img">
                    <a href="@Url.Action("Detail",new{id=1})">
                        <img src="/images/32.jpg" class="opacity_img" alt="产品名称" />
                    </a>
                    <p class="product_title">
                        <a href="@Url.Action("Detail",new{id=1})" title="产品名称">产品名称</a>
                    </p>
                </div>

                <div class="col-sm-4 col-md-4 col-mm-6 product_img">
                    <a href="@Url.Action("Detail",new{id=1})">
                        <img src="/images/32.jpg" class="opacity_img" alt="产品名称" />
                    </a>
                    <p class="product_title">
                        <a href="@Url.Action("Detail",new{id=1})" title="产品名称">产品名称</a>
                    </p>
                </div>

                <div class="col-sm-4 col-md-4 col-mm-6 product_img">
                    <a href="@Url.Action("Detail",new{id=1})">
                        <img src="/images/32.jpg" class="opacity_img" alt="产品名称" />
                    </a>
                    <p class="product_title">
                        <a href="@Url.Action("Detail",new{id=1})" title="产品名称">产品名称</a>
                    </p>
                </div>



                <div class="page">
                    <span class="current">1</span><a href="">2</a>
                    <a href="">3</a>
                    <a href="">&raquo;</a>
                </div>
            </div>

        </div>

        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <h3 class="left_h3"><span>导航栏目</span></h3>
            <div class="left_column">
                <ul class="left_nav_ul" id="firstpane">

                    <li>
                        <a class="biglink" href="">铜佛像</a>
                        <!--span class="menu_head">+</span-->
                    </li>

                    <li>
                        <a class="biglink" href="">人物像</a>
                        <!--span class="menu_head">+</span-->
                    </li>

                    <li>
                        <a class="biglink" href="">动物像</a>
                        <!--span class="menu_head">+</span-->
                    </li>

                    <li>
                        <a class="biglink" href="">城市雕塑</a>
                        <!--span class="menu_head">+</span-->
                    </li>

                </ul>
            </div>
            <div class="left_news">
                <h3 class="left_h3"><span>新闻中心</span></h3>

                <ul class="left_news">

                    <li>
                        <a href="../../news/html/-431.html" tppabs="http://demo.weboss.hk/h127/news/html/?431.html"
                           title="如何解决光扩散PC注塑成型">如何解决光扩散PC注塑成型</a>
                    </li>

                    <li>
                        <a href="../../news/html/-430.html" tppabs="http://demo.weboss.hk/h127/news/html/?430.html"
                           title="充电器外壳阻燃防火PC 充">充电器外壳阻燃防火PC 充</a>
                    </li>

                    <li>
                        <a href="../../news/html/-429.html" tppabs="http://demo.weboss.hk/h127/news/html/?429.html"
                           title="如何解决导电PC注塑件熔接">如何解决导电PC注塑件熔接</a>
                    </li>

                    <li>
                        <a href="../../news/html/-428.html" tppabs="http://demo.weboss.hk/h127/news/html/?428.html"
                           title="HTML5提供了一些新的元素">HTML5提供了一些新的元素</a>
                    </li>

                </ul>

            </div>
            <div class="left_contact">
                <h3 class="left_h3" style="margin-bottom:20px;"><span>联系我们</span></h3>
                <p>
                    联系人：吴先生
                </p>
                <p>
                    手机：18926129998
                </p>
                <p>
                    电话：020-22043297
                </p>
                <p>
                    邮箱：510551@qq.com
                </p>
                <p>
                    地址： 广东省广州市天河区天平架沙太路沙太路
                </p>
            </div>
        </div>

    </div>
</div>
<script src="content/js/jquery.smoove.min.js"></script>
<script>$('.product_head,.product_img,.left_nav,.case_head,.case_img,.advantage_head,.advantage_right,.advantage_left,.news_head,.news_ul,.answer_ul,.about_head,.js_about_left,.js_about_right,.cooperation_head,.cooperation_img').smoove({ offset: '10%' });</script>