
@{
    ViewBag.Title = "Index";
    ViewBag.active = "Product/Index";
}
@using DeXinYuan.Models;
@model List<Category>
<div class="met-banner banner-ny-h" data-height='' style=''>
    <div class="slick-slide">
        <img class="cover-image" src="/picture/11.jpg" sizes="(max-width: 767px) 767px" alt="产品中心">
    </div>
</div>

<div class="met-index-product met-index-body1" id='product'>
    <div class="container">
        <div class=''>
            <ul class="nav nav-tabs">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="@Url.Action("Index",new {categoryId=item.Id})" title="@item.CategoryName" class="@(ViewBag.categoryId==item.Id?"active":"")">
                            <h3>
                                @item.CategoryName
                            </h3>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


<div class="met-product animsition type-3">
    <div class="container-fluid">
        <ul class="blocks-2 blocks-sm-2 blocks-md-4 blocks-xlg-4  met-page-ajax met-grid"
            id="met-grid" data-scale='0.75117370892019'>
            
            
            @foreach (Product item in ViewBag.products)
            {
                <li class=" shown">
                    <div class="widget widget-shadow">
                        <figure class="widget-header cover">
                            <a href="productshow.html" title="@item.ProductName" target='_self'>
                                <img class="cover-image" src="@item.ImgUrl" alt="@item.ProductName"
                                     style='height:200px;'>
                            </a>
                        </figure>
                        <div class="widget-body">
                            <h4 class="widget-title">
                                @item.ProductName
                            </h4>
                            <p>
                                @item.ProductRemark
                            </p>
                            <div class="widget-body-footer">
                                <div class="widget-actions pull-right">
                                    <a href="productshow.html" title="@item.ProductName">
                                        <i class="icon wb-eye" aria-hidden="true">
                                        </i>
                                        <span>
                                            36
                                        </span>
                                    </a>
                                </div>
                                <a href="productshow.html" title="@item.ProductName" target='_self'
                                   class="btn btn-outline btn-primary btn-squared">
                                    查看详情
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div>
            <div class='met_pager'>
                <span class='PreSpan'>
                    上一页
                </span>
                <a class="Ahover">
                    1
                </a>
                <a href='list_4_2.html'>
                    2
                </a>
                <a href='list_4_2.html'>
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>

